.mainContainer{
    background-color: rgb(6, 194, 0);
    height: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 220px;
    margin-top: 20px;
}