.mainContainer{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.rightContainer{
display: flex;
align-items: center;
}

.logoContainer{
    height: 3.5em;
    margin-left: 1.5em;
}
.leftContainer{
display: flex;
align-items: center;

}
.cartContainer{
margin-left: 10px;
}
.loginContainer{

}